/* estilo a encabezado*/
#encabezado{
  background-color: #3E4042;
  height: 60px;
}
.menu{
  font-family: 'Numans', sans-serif;
  margin-top: 12px;
  color: white;
  margin-left: 50px;
}
li{
  display: inline-block;
  font-family: 'Numans', sans-serif;
  margin-top: 12px;
  color: white;
  margin-left: 10px;
}
nav {
  margin-left: 300px;
}
.barra{
  display: none;
}

/* estilo imagen con texto centrado*/
.picture{
  background-image: url(../img/passaport.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  background-color: #D3D3D3;
  background-blend-mode:hard-light;

}
h1{
  color: black;
  text-align: center;
  font-family: 'Lilita One', cursive;
  font-size: 100px;
  padding-top: 200px;
  font-weight: bold;
}

/* estilo textos con imagenes*/
.titulo{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding-left: 100px;
  padding-top: 20px;
}
.titulo-2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding-right:100px;
  padding-top: 20px;
}
.texto-uno{
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  padding-left: 100px;
  text-align: left;
}
.texto-dos{
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  padding-left: 100px;
  text-align: left;
}
h4{
  padding-right: 100px;
  font-size: 20px;
}
.texto-tres{
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  text-align: left;
  padding-right: 100px;
}
.phone{
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  text-align: left;
  padding-right: 100px;
}
.caja{
  background-color: blue;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  margin-left: 100px;
}
.call{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  padding-top: 15px;
}

/*estilo caja con cotenido*/
.fila{
  padding-left: 100px;
}
.imagen-texto{
  border: 1px solid #CCCCCC;
  height: 490px;
  width: 300px;
}
.viaje{
  width: 300px;
}
.card{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  font-size: 20px;
}
.cuadro-texto{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}
.cajita{
  margin-top: 15px;
  border: 1px solid  #CCCCCC;
  background-color:#DCDCDC;
  height: 60px;
}

/* estilo a footer*/
#bajada-final{
  background-color: #3E4042;
  height: 50px;
}
.final{
  color: white;
  text-align: center;
  font-family: 'Numans', sans-serif;
  font-size: 15px;
  padding-top: 18px;
}
